<div id="header">
	<div id="title">			
		De La Rue
	</div>
	<div id="logout">
		<%= link_to "Sign out", logout_url %>
	</div>
	<div class="clear"></div>
	<div id="searchbar">
		<%= form_tag '' do %>
			<%= text_field_tag :search, nil, placeholder: "Search a place, artist, or genre..." %>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="content">
	<div id="map" class="well">
		<h1>BIG<br /> ASS<br /> MAP<br /></h1>
	</div>
	<div id="content_list" class="well">
		<ul>
			<li>Look</li>
			<li>Another</li>
			<li>List</li>
			<li>Of</li>
			<li>Some</li>
			<li>Stuff</li>
		</ul>
	</div>
</div>
