/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*** RESET ***/

 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
   background: transparent;
   border: 0;
   font-size: 100%;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
 }
 body {
   line-height: 1;
 }
 a {
   text-decoration: none;
 }
 *:focus {
   outline: 1;
 }
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
   display: block;
 }
 nav ul {
   list-style: none;
 }
 ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after, q:before, q:after {
   content: "";
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 input, select {
   vertical-align: middle;
 }


/*** GLOBAL ***/

.clear {
    clear: both;
}

body {
	background-attachment: fixed;
	background-image: url('tower tiles bg.png');
	background-repeat: no-repeat;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
}

#header {
    margin: 0px auto;
    width: 63em;
}

#content {
    margin: 0px auto;
    width: 85em;
}

#title {
    background: black;
    color: white;
    font-size: 5em;
    height: 1em;
    line-height: 1em;
    padding-left: .1em;
    width: 5em;
    float: left;
}

#descr {
    background: white;
    color: black;
    font-size: 2.5em;
    height: 2em;
    line-height: 1em;
    padding-left: .7em;
    width: 22em;
    float: right;
}

#intro {
    width: 90em;
    padding: 4em;
    margin: 0px auto;
}

#intro_map {
    width: 50%;
    float: left;
    margin: 3em;
    background: rgba(0, 0, 0, 0.5);
}

#intro_log {
    width: 25%;
    float: left;
    margin: 3em;
    background: rgba(0, 0, 0, 0.5);
}

#search {
    background: rgba(0, 0, 0, 0.5);
    width: 55em;
    height: 3em;
}

#map {
    width: 50%;
    float: left;
    background: rgba(0, 0, 0, 0.5);
    margin: 3em;
}

#content_list {
    width: 25%;
    float: left;
    background: rgba(0, 0, 0, 0.5);
    margin: 3em;
}

#signup {
    width: 50%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#signup form label {
    font-size: 1.5em;
}

#signup .field {
    margin-bottom: 1em;
}

